.navbar {
    width: 100%;
    position: absolute;
    box-shadow: none;
    padding-left: 10.5%;
    padding-right: 10.5%;
    padding-top: 0px;
}

.navbar-nav {
    align-content: space-between;
    align-items: center;
}

.logo-light {
    margin-top: 25px;
}

.logo-dark {
    display: none;
}

.navbar-toggler>.fas {
    color: #444444;
    margin-top: 10px;
    margin-right: 12px;
}

.nav-link {
    font-family: 'Poppins';
    color: white !important;
    font-weight: 400;
    font-size: 24px;
    margin-left: 50px !important;
    padding-top: 25px;
}

.navbar-nav>.nav-item>.active {
    color: black !important;
    background-color: #FBD27F;
    border-end-start-radius: 5px;
    border-end-end-radius: 5px;
    padding-top: 25px;
    padding-bottom: 10px;
}

@media screen and (max-width: 991px) {
    .navbar {
        background-color: white;
        /* padding-left: 2%; */
        padding-right: 0px;
        padding-left: 0px;
    }
    .logo-light {
        display: none;
    }
    .logo-dark {
        margin-top: 10px;
        margin-left: 15px;
        margin-bottom: 10px;
        display: block;
    }
    .nav-link {
        color: black !important;
        margin-left: 0px !important;
    }
    .navbar-nav>.nav-item>.active {
        color: black !important;
        background-color: #FBD27F;
        border-end-start-radius: 0px;
        border-end-end-radius: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100vw;
    }

    .container-fluid{
        padding: 0px;
        width: 100vw;
    }
}